/* 从 Google Fonts 导入 Roboto 字体系列，让你在网页中可以直接使用该字体。 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  /* 去除元素的边框 */
  border: none;
  /* 去除元素的聚焦 */
  outline: none;
  font-family: 'Roboto', sans-serif;
  color: #F1F8E9;
}

body {
  background-image: url(images/bac.jpg);
  background-attachment: fixed;  /* 使背景固定 */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Center */
section, .right, .left, .social, .social i {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  height: 100vh;
}

/* 首页设置 */
.section-wrap {
  background-color: rgba(255, 255, 255, 0.2);
  height: 75vh;
  width: 75%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  backdrop-filter: blur(12px);
  padding: 50px 100px;
  overflow: hidden;
}


/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

/* logo设置 */
.head-logo {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}
.head-logo span {
  color:#8BC34A;
}

/* 导航栏设置 */
.nav-items {
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin: 20px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

/* 导航下划线效果 */
.nav-items::before {
  content: "";
  position: absolute;
  bottom: -10px;
  /* left 与 translateX的作用是默认居中展开 */
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  height: 2px;
  width: 100%;
  background-color: #F1F8E9;
  transition: 0.3s;
  box-shadow: 0 0 3px #F1F8E9;
}
.nav-items:hover::before {
  transform: translateX(-50%) scaleX(1);
}

/* 导航荧光效果 */
.nav-items:hover {
  text-shadow: 0 0 10px #F1F8E9;
}

/* 登录-注册按钮效果设置 */
nav, .head-cta {
  /* 以防树木动画遮挡 */
  z-index: 1;
}
.header-cta-btn {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid #F1F8E9;
  padding: 10px 40px;
  border-radius: 25px;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.header-cta-btn:hover {
  background-color: #8BC34A;
  border-color: #8BC34A;
  box-shadow: 0 0 50px #8BC34A;
}

/* 主页-内容网格设置-左右分栏 */
.hero-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* 左侧效果设置 */
.left {
  /* 设置主轴方向为垂直方向 */
  flex-direction: column;
  /* 控制交叉轴-水平对齐方式为：左对齐 */
  align-items: start;
}
.main-text {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 30px;
}
.main-text span {
  color: #8BC34A;
}
.sub-text {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 400;
  color: rgba(241, 248, 233, 0.8);
  margin-bottom: 50px;
}
/* 左侧按钮设置 */
.hero-cta-btn {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 15px 50px;
  background-color: #8BC34A;
  color: #424242;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 30px;
  margin-right: 20px;
}
.btn2 {
  background-color: #F1F8E9;
}
.hero-cta-btn:hover {
  box-shadow: 0 0 80px #8BC34A;
}
.btn2:hover {
  box-shadow: 0 0 80px #F1F8E9;
}

/* 右侧图像设置 */
.right img {
  width: 85%;
  /* 添加绿色的发光阴影效果 */
  filter: drop-shadow(0 0 20px #8BC34A);
  /* 添加30s的类呼吸效果 */
  animation: 30s treeScale linear infinite;
  /* 设置为不可被鼠标操作 */
  pointer-events: none;
}

/* 下侧图标设置 */
.social i {
  height: 40px;
  width: 40px;
  font-size: 1.2rem;
  border: 1px solid #F1F8E9;
  border-radius: 25px;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.social i:hover {
  border-color: #8BC34A;
  box-shadow: 0 0 25px #8BC34A;
  text-shadow: 0 0 25px #8BC34A;
  transform: rotate(360deg);
  color: #8BC34A;
}


/* About */
/* 标题设置 */
.section-title {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 50px;
  text-align: center;
}
.section-title span {
  color: #8BC34A;
}
/* 内容设置 */
#about p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 50px;
}
/* 按钮设置 */
.section-btn {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 25px;
  color: #424242;
  background-color: #F1F8E9;
  padding: 12px 50px;
  cursor: pointer;
  transition: 0.3s;
}
.section-btn:hover {
  background-color: #8BC34A;
  box-shadow: 0 0 50px #8BC34A;
}
/* 草图片设置 */
#about img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0.7;
  pointer-events: none;
  /* 让元素“无视鼠标”，无法点击、无法悬停、无法触发任何鼠标事件！ */
}


/* Project */
/* 设置表格排列 */
.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
}
/* 设置图像大小 */
#project img {
  width: 100%;
  border-radius: 10px;
}
/* 设置卡片属性 */
.card {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 50px;
  margin-top: 20px;
}
.card-title {
  font-size: 1.2rem;
  margin: 30px 0 20px;
  
}
.card:hover {
  background-color: rgba(139, 195, 74, 0.2);
  box-shadow: 0 0 50px #8BC34A;
}
/* 设置按钮属性 */
#project .section-btn {
  width: 100%;
  margin-top: 50px;
}


/* Contact */
/* 设置排列方式 */
.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* 图片设置 */
#contact .right img {
  width: 85%;
  margin-top: 100px;
  margin-right: 100px;
}
/* p标签设置 */
#contact p {
  font-size: 1.2rem;
  margin-bottom: 50px;
}
/* 表单设置 */
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
input, textarea {
  background-color: transparent;
  color: #F1F8E9;
  font-size: 1.2rem;
  padding: 15px;
  border: 1px solid #F1F8E9;
  border-radius: 15px;
}
input::placeholder, textarea::placeholder {
  color: #F1F8E9;
}
textarea {
  height: 180px;
}
/* 按钮设置 */
form button {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #424242;
  background-color: #F1F8E9;
  padding: 15px;
  border-radius: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}
form button:hover {
  background-color: #8BC34A;
  box-shadow: 0 0 10px #8BC34A;
}


/* Footer */
#footer {
  height: auto;
}
#footer .section-wrap {
  height: auto;
  margin: 50px 0;
}
.copyright {
  font-size: 0.9rem;
  text-align: center;
  margin-top: 10px;
}